@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f4f3f0;
}

@layer components {
  .button-default {
    @apply px-4 py-1 bg-gray-200 border hover:bg-gray-100 border-gray-400;
    @apply disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }
}
